@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:ital@1&family=Teko:wght@300&display=swap');

*{
  padding: 0%;
  margin: 0;
}

header{
  padding-top: 2em;
  background-color: #f39c12;
}

.logo{
  /* position: absolute; */
  margin-left: 2em;
}

.logo img{
  width: 2%;
}

.logo .burger{
  margin-left: 2em;
  margin-top: -1.3em;
  font-size: 22px;
  font-weight: bold;
}

.head .delivery{
  margin-left: 70em;
  margin-top: -2em;
}

.delivery img{
  width: 8%;
}

.delivery .address{
  margin-left: 2.5em;
  margin-top: -1.8em;

}

header nav{
  margin-left: 56.5em;
}

header nav ul{
  margin-top: 0.5em;
  margin-right: 4em;
  /* float: right; */
}

header nav ul li{
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  padding: 0.9em 0 1.5em;
}

header nav ul li a{
  text-decoration: none;
  padding: 0 1.2em;
  color: black;
  font-weight: bold;
  font-size: 22px;
  font-family: 'Teko', sans-serif;
  letter-spacing: 2.5px;
}

section .quotes{
  margin-left: 5em;
  margin-top: 12em;
  color: #43200c;
}

section h3{
  position: absolute;
  border: 2px dashed;
  padding: 8px;
}

section h1{
  padding-top: 0.4em;
  font-size: 6em;
  font-weight: bold;
  text-shadow: 2px 2px #ffe9bb;
}

section h2{
  margin-top: -0.2em;
  font-size: 3em;
  font-weight: bold;
}

section img{
  width: 50%;
  margin-left: 40em;
  margin-top: -22em;
}

.section2{
  display: flex;
  margin-left: 5em;
  margin-right: 5em;
  margin-top: 3em;
}

.section2 .left{
  /* background-image: url("./images/burger-img-2.jpg");
  width: 50%; */
  
}